# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vscode
/build
.DS_Store
Server/ssl_files/ca_cert.pem
Server/ssl_files/ca_key.pem
Server/ssl_files/ca_cert.srl
Server/ssl_files/server_key.pem
Server/ssl_files/server_cert.pem
Server/ssl_files/server_chain.pem
Server/ssl_files/server.csr
Server/ssl_files/client_key.pem
Server/ssl_files/client_cert.pem
Server/ssl_files/client.csr
Server/ssl_files/openssl.cnf