# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/build
/.vscode
.DS_Store
/ssl_files/ca_cert.pem
/ssl_files/ca_key.pem
/ssl_files/ca_cert.srl
/ssl_files/server_key.pem
/ssl_files/server_cert.pem
/ssl_files/server_chain.pem
/ssl_files/server.csr
/ssl_files/client_key.pem
/ssl_files/client_cert.pem
/ssl_files/client.csr
/ssl_files/openssl.cnf